@media(max-width: 900px) {
div.shell div {
    font-size: 0.9em;
}

div.shell {
    width: 90% !important;
    min-height: 240px !important;
}

div.shell .typed-cursor {
    font-size: 0.9em !important;
}

div.nav {
    display: none !important; 
}

div.moduleText {
    font-size: 1.2em !important;
    width: 90% !important;
}
}

body {
    background-color: black;
}

::selection {
  background: rgb(193, 39, 45); /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: rgb(193, 39, 45); /* Gecko Browsers */
  color: black;
}

#loadingCover {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 99999999;
}

div.loader {
    margin: 0 auto;
    display: flex;
}

@keyframes V38Loader {
    0% { 
        opacity: 1; 
    }
    50% { 
        opacity: 0.5; 
        transform: scale(.9)
    }
	100% { 
        opacity: 1; 
    }
}

img.pulse {
    animation: V38Loader 3s infinite;
}

div.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    float: left;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 9999;
}

div.nav {
    float: right;
    padding-top: 20px;
}

div.main {
    padding-left: 20px;
    padding-top: 150px;
    min-height: 100vh;
}

div.shell div.typedText {
    padding-left: 10px;
    display: block;
}

span.bodyTag {
    padding-left: 50px;
    display: block;
}

div.homePageModules {
    color: white;
    text-align: center;
}

div.bodymodule {
    min-height: calc(100vh - 100px);
}

div.bodymoduleDouble {
    min-height: calc(2*(100vh - 100px));
}

div.moduleHeader {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 3em;
    margin-left: 20px;
    display: inline;
}

div.bodymodule > .typed-cursor {
    font-size: 3em !important;
    color: rgb(193, 39, 45);
}

div.moduleText {
    color: white;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    width: 50%;
}

div.servicesContent {
    padding-top: 40px;
    color: white;
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a.nav {
    padding-left: 20px;
    font-size: 1.5em;
    float: left;
}

a:hover {
    cursor: pointer;
    color: rgb(193, 39, 45);
    text-decoration: none;
}

a.inline:hover {
    color: rgb(193, 39, 45);
    text-decoration: none;
}

a.inline {
    color: rgb(193, 39, 45);
}

a:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(193, 39, 45);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
}

div.typedText {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4em;
    display: inline;
}

div.shell {
    border: 1px solid white;
    min-height: 300px;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

div.shellbar {
    width: 100%;
    height: 20px;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 10px;
    font-family: 'Source Code Pro', monospace;
    font-size: .7em;
    padding-top: 3px;
}

div.servicesContent > p {
    width: 80%;
    margin: 0 auto;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

i.bigIcon {
    font-size: 4em;
}

i.mediumIcon {
    font-size: 3em;
}





